# Telegram Bot Token
BOT_TOKEN=werwerwer

# Database
DATABASE_URL=sqlite+aiosqlite:///./app.db

# YooKassa (заглушки для примера)
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET=your_secret_key

# App Settings
SECRET_KEY=your_secret_key_for_jwt_or_validation
DEBUG=True
WEB_APP_URL=https://localhost.localdomain